
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/
.venv/
ENV/

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo



# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/


